.footer {
    background-color: $background-color;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer-adress {
    margin-top: 20px;
}

.footer-adress__mailPhone {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: $duration $timing-function;
}

.footer-adress__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-adress__adress {
    color: $light-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $light-color;
}

.join {
    margin-left: 70px;
}

.join__us,
.form-send__send {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $light-color;
}

.join__social {
    display: flex;
    margin-top: 20px;
}

.join__item:not(:last-child) {
    margin-right: 10px;
}

.join__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color $duration $timing-function;

    &:hover,
    &:focus {
            background-color: $hover-color;
        }
}



.join__icon {
    fill: $light-color;
}

.form-send {
    margin-left: 93px;
}

.form-footer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.form-footer__email {
    width: 358px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #2f303a;
    border-radius: 4px;
    padding: 15px 15px;
}

.form-footer__button {
    display: flex;
    width: 200px;
    padding: 10px 10px 10px 29px;
    border: none;
    border-radius: 4px;
    background-color: $hover-color;
    color: $light-color;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    transition: box-shadow $duration $timing-function;
    
    &:hover,
    &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}

.form-footer__icon {
    display: flex;
    margin-left: 10px;
}