.personal {
    background-color: #f5f4fa;
}

.personal__team-list {
    display: flex;
    padding: 0;
}

.personal__team-item {
    width: 270px;
    background:$light-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.personal__team-item:not(:last-child) {
    margin-right: 30px;
}

.personal__person {
    padding-top: 30px;
    padding-bottom: 30px;
}

.personal__name {
    color: $nav-color;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.personal__work {
    margin-top: 10px;
    color: $text-color;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.social__item:not(:last-child) {
    margin-right: 10px;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: $light-color;
    border-radius: 50%;
    transition: background-color $duration $timing-function;

    &:hover,
    &:focus {
            background-color: $hover-color;
        }
}



.social__icon {
    fill: #afb1b8;
    transition: fill $duration $timing-function;

    .social__link:hover &,
        .social__link:focus & {
            fill: $light-color;
        }
}

